
.page-template-page-comic-titles {
  .page-section {   
    display: flex;
    flex-direction: column;
    
    .page-header {
      color: $text-color-white;
      margin-bottom: 1rem;
      text-align: center;
    
      h1.page-title {
        font-family: $font-heading;
        font-size: 3rem;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.08em;
      }
    }    
    .comic-series-container {
      background-color: $text-color-white;
      border-left: 5px solid $dark-red;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba($text-color-black, 0.05);
    
      ul {
        padding-left: 0;
        list-style: none;
    
        li {
          margin-bottom: 0.5rem;
          color: $text-color-black;
          font-size: 1.1rem;
          text-align: left;
    
          strong {
            color: $primary-color;
            text-transform: uppercase;
          }
    
          a {
            color: $accent-color;
            text-decoration: none;
    
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }    
    
    @media (max-width: 600px) {
      .page-header h1 {
        font-size: 2rem;
      }    
      .comic-series-container,
      .comic-issues-container {
        padding: 1rem;
      }    
      .comic-issues-container ul li {
        flex-direction: column;
        align-items: flex-start;
    
        img {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}   
.page-template-page-issue-details,
.page-template-page-comic-catalog,
.page-template-page-comic-issues {
  .page-section {   
    .comic-issues-container {
      .issues-header {
        color: $text-color-white;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }   
}