// single post Sections
.single {
    main {
        .body-section {
            padding: 1rem 5% 0 2.5rem;
            height: 100%;

            .btn {    
                border: none;
                font-family: $font-heading;
                outline: 1px solid #000;
                font-weight: 500;
                letter-spacing: .05rem;
                margin: 0 .75rem 0 0;               
                text-transform: uppercase;
                transition: background-color .3s ease;
            }
            
            .page-title {
                    text-align: left;
            }
            .post-content {
                ul {             
                    margin: 1rem 0;
                    padding-left: 0 !important;                
                }
            }
            .image img {
                border: 1px solid $text-color-black;
            }
        }
        .page-section {
            padding: 1rem 5% 0 2.5rem;
            height: 100%;

            .page-header {
                .category-breadcrumbs {
                    font-size: 1rem;
                    font-weight: bold;
                    color: $tertiary-color; 
                    text-align: left;                 
                    margin-bottom: 1rem;

                    .category a {
                        background-color: transparent; 
                        color: $text-color-white;  
                    }
            
                    a {
                        color: $text-color-black;
                        background-color: $tertiary-color;
                        text-decoration: none;
                        border-radius: 5px;
                        padding: .2rem .5rem .2rem;
            
                        &:hover {                      
                            color: $text-color-white;
                        }
                    }
    
                    span + a {
                        background-color: transparent; 
                        color: $text-color-white;     
                        padding: 0; 
                        
                        &:hover {                      
                            color: $text-color-black;
                        }
                    }
            
                    .separator {
                        margin: 0 0.4rem;
                        text-shadow: 1px 1px 0 $text-color-black;
                        color: $accent-color;
                        font-size: 1.2rem;
                    }
            
                    .current-category {
                        color: $text-color-white;
                    }
                } 
            }  
        }
    }
}